body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px;
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    justify-content: space-between; /* Размещение логотипа и меню */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Вертикальное выравнивание */
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.logo-item a {
    display: block;
}

.logo-item img {
    height: 40px; /* Установите высоту логотипа по вашему желанию */
}

nav li {
    margin-left: 20px; /* Отступ между элементами меню */
}

nav li:first-child {
    margin-left: 0; /* Удаляем отступ для первого элемента */
}

.hero {
    background: url('design/1473684794869604330.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
    min-height: 400px;
}

.hero h1 {
    margin: 0;
    font-size: 5em;
}

.hero p {
    font-size: 2.5em;
}

button {
    background-color: #f58b00;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #000000;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f4f4f4;
}

.feature {
    width: 30%;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.update-banner {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.products {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f8f8f8;
}

.product-item {
    width: 45%;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.product-item h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.product-item p {
    font-size: 1.2em;
}
